# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js Production Builds
.next/
out/
build/
dist/

# Local Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.env

# Debug and System Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# IDE and Editor configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Deployment / Hosting Platforms
.vercel
.netlify

.vercel
