@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full w-full bg-background text-text dark:bg-background-dark dark:text-text-dark;
}

/* Custom scrollbar for dark mode */
.dark ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #1e293b; /* Slate 800 */
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #475569; /* Slate 700 */
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748B; /* Slate 600 */
}
